= form.association :organisation
= form.association :parent
= form.input :name
= form.input :description
= form.input :markup_language, collection: Ecm::Staff::Configuration.markup_languages, include_blank: false
